<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.choa.s4.member.memberUser.MemberUserDAO">

	<insert id="setMemberJoin" parameterType="MemberDTO">
		insert into member values (member_seq.nextval, #{id}, #{pw}, #{name}, #{email})
	</insert>

	<select id="getMemberLogin" parameterType="MemberDTO" resultMap="getMemberLoginResult">
		select M.*, F.*
		from member M
		inner join memberFile F on (M.id = F.id)
		where M.id = #{id} and M.pw = #{pw}
	</select>
	
	<resultMap type="MemberDTO" id="getMemberLoginResult">
		<id column="num" property="num"/>
		<result column="id" property="id"/>
		<result column="pw" property="pw"/>
		<result column="name" property="name"/>
		<result column="eamil" property="email"/>
		<association property="memberFileDTO" javaType="MemberFileDTO" resultMap="memberFileResult">
		</association>
	</resultMap>
	
	<resultMap type="MemberFileDTO" id="memberFileResult">
		<id column="num" property="num" />
		<result column="id" property="id" />
		<result column="fileName" property="fileName" />
		<result column="oriName" property="oriName" />
	</resultMap>
	
	
	<update id="setMemberUpdate" parameterType="MemberDTO">
		update member set name=#{name}, email=#{email} where num=#{num}
	</update>
	
	<delete id="setMemberDelete" parameterType="MemberDTO">
		delete member where id=#{id} 
	</delete>
	
	<select id="getMemberIdCheck" parameterType="MemberDTO" resultType="Long">
		select count(num) from member where id=#{id}
	</select>
	
</mapper>